<div class="search">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="searcher">
        <input class="input" formControlName="name" placeholder="Rechercher une vidéo ou une image de la NASA...">
        <button class="search-btn" type="submit">
          <span class="material-icons">search</span>
        </button>
    </div>     
  </form>
  <div class="list-item">
    <div class="item" *ngFor="let item of nasaItemsClean">
        <a id="item.nasa_id" [routerLink]="['/asset',item.nasa_id]">
          <button class="btn-item">
            <img class="img-thumb" src={{item.href}} alt={{item.href}}/>
            <h1 class="item-title">{{item.title}}</h1>
          </button>
        </a>
    </div>
  </div>       
</div>